@{
    ViewBag.Title = "Index";
}
@using Fitness.Model.Entities
@model IEnumerable<Fitness.Model.Entities.Invitation>
    <div class="panel-body"></div>
    <div class="panel-body" style="margin:0 auto;">
    @foreach (var item in (List<Invitation>)Model)
    {
        <div class="panel panel-info col-md-4" style="padding:0px;">
            <div class="panel-heading">
                @if (string.IsNullOrEmpty(item.Theme))
                {
                <h6 class="panel-title">主题</h6>
                }
                else
                {
                <h3 class="panel-title">@item.Theme</h3>
                }
            </div>
            <div class="panel-body" style="cursor:pointer" id="bodyContent">
                <div>@item.Content</div>
            </div>
            <div class="panel-footer">
                <img src="@item.PicUrl" style="cursor:pointer" class="img-circle" height="20"/>
                @Html.DisplayFor(m=>item.UserKey)
                @Html.DisplayFor(m=>item.PublishTime)
            </div>
        </div>
    }
    </div>
    <div class="clear" style="clear:both"></div>
@section Scripts{
    <script>
        $(function () {
            $('#bodyContent').click(function () {
                alert("跳转");
            })
        });
</script>
    }